p {
  font-size: 24px;
}

.conteudo-div{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.nome-endemia {
  font-size: 32px;
  font-weight: 800;
}

.imagem-endemia-div {
  background-color: #CFCFCF;
  width: 330px;
  height: 234px;
  border-radius: 20px;
  margin-top: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem-endemia {
  width: 50px;
}

.txt-input-div {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 20px;
}

.inputs {
  background-color: #D9D9D9;
  width: 290px;
  height: 58px;

  border: none;
  border-radius: 20px;

  font-size: 20px;
  padding: 0 20px;
}

.enviar-denuncia-btn {
  margin-top: 80px;
  background-color: #007419;
  width: 330px;
  color: white;
  height: 91px;
  font-size: 32px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  transition: box-shadow 0.15s;
}

.enviar-denuncia-btn:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
